body {
    background-image: url('../imgs/MASTER_BEDROOM.jpg');
    background-repeat: no-repeat;
    background-size: 2400px 1200px;

    zoom: 0.8;
}

#check-btn { 
    display: none;
}
#check-btn:checked ~ .menubars { 
    display: block; 
} 
.menubars { 
    display: none;
    width: 300px;
    height: 112vh;
    border-radius: 0px 50px 50px 0px;
    background: #D0D0D0;
    list-style-type: none;
    margin-left: -10px;
}
.menubars .txt {
    color: #D0D0D0;
}
.menubars .blank {
    width: 250px;
    height: 1px;
    background-color: #D0D0D0;
    margin-top: 10px;
}
.menubars .line {
    width: 250px;
    height: 1px;
    background-color: #353434;
    margin-top: 10px;
}
.menubars > li {
    margin-top: 20px;
    margin-left: 15px;
}
.menubars > li > a{
    text-decoration: none;
    color:#353434;
    font-family: PT Serif;
    font-size: 25px;
}
.menubars .contact {
    color:#353434;
    font-family: PT Serif;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 380px;
}
.menubars .contact > P{
    margin-bottom: 0px;
}
.menubars .contact > span{
    font-size: 20px;
    margin-left: 50px;
}
.menu {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 35px;
}

.container {
    display: flex;
}
.first {
    width: 380px;
    height: 100vh;
    position: relative;
}
.first .title {
    font-size: 80px;
    font-family: 'Allura';
    text-decoration: none;
    color:#D9BA8B;
    position: absolute;
    top: 0;
    left: 100px;
}

.container .main {
    width: calc(100% - 380px);
    margin-top: 100px;
}
.navi {
    margin-top: 50px;
    font-family: 'PT Sans';
    font-size: 25px;
    float: right;
    margin-right: 60px;
}
.navi .nav_txt {
    text-decoration: none;
    color: #D9BA8B;
    margin-right: 40px;
}

.second {
    margin-top: 140px;
    margin-left: 200px;
}
.second .clothes {
    width: 1260px;
    height: 880px;
    background: rgba(217, 217, 217, 0.70);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}
.second .clothes .inner_title{
    font-family: 'Allura';
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.second .clothes .inner_con {
    display: flex;
    justify-content: center;
}
.second .clothes .inner {
    width: 930px;
    display: flex;
    justify-content: space-between;
}
.second .clothes .inner .inner_subtitle {
    font-family: 'PT Serif';
    font-size: 30px;
}
.second .clothes .inner2 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.second .clothes .inner2 .inner_box {
    width: 380px;
    height: 650px;  
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.80);
}
.second .clothes .inner2 .inner_box .contents {
    display: flex;
    justify-content: center;
}
.second .clothes .inner2 .inner_box .contents .item {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #959595;
}
.second .clothes .inner2 .inner_box .contents .item .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #7a7a7a;
    font-family: 'PT Serif';
    font-size: 20px;
    cursor: pointer;
}
.second .clothes .btn_con {
    display: flex;
    justify-content: center; 
}
.second .clothes .btn_con .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #7a7a7a;
    font-family: 'PT Serif';
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}