body {
    background-image: url('../imgs/b1.png');
    zoom: 0.8;
}

#check-btn { 
    display: none;
}
#check-btn:checked ~ .menubars { 
    display: block; 
} 
.menubars { 
    display: none;
    width: 300px;
    height: 112vh;
    border-radius: 0px 50px 50px 0px;
    background: #D0D0D0;
    list-style-type: none;
    margin-left: -10px;
}
.menubars .txt {
    color: #D0D0D0;
}
.menubars .blank {
    width: 250px;
    height: 1px;
    background-color: #D0D0D0;
    margin-top: 10px;
}
.menubars .line {
    width: 250px;
    height: 1px;
    background-color: #353434;
    margin-top: 10px;
}
.menubars > li {
    margin-top: 20px;
    margin-left: 15px;
}
.menubars > li > a{
    text-decoration: none;
    color:#353434;
    font-family: PT Serif;
    font-size: 25px;
}
.menubars .contact {
    color:#353434;
    font-family: PT Serif;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 380px;
}
.menubars .contact > P{
    margin-bottom: 0px;
}
.menubars .contact > span{
    font-size: 20px;
    margin-left: 50px;
}
.menu {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 35px;
}

.container {
    display: flex;
}
.first {
    width: 380px;
    height: 100vh;
    position: relative;
}
.first .title {
    font-size: 80px;
    font-family: 'Allura';
    text-decoration: none;
    color:#353434;
    position: absolute;
    top: 0;
    left: 100px;
}

.container .main {
    width: calc(100% - 380px);
    margin-top: 100px;
}
.navi {
    margin-top: 50px;
    font-family: 'PT Sans';
    font-size: 25px;
    float: right;
    margin-right: 60px;
}
.navi .nav_txt {
    text-decoration: none;
    color: #353434;
    margin-right: 40px;
}

.second {
    margin-top: 200px;
    font-family: 'PT Serif';
    color: #353434;
    width: 1230px;
    height: 800px;
}
.second > div {
    margin-left: 200px;
    width: 1230px;
}
.second .main_title {
    font-size: 35px;
    width: 1230px;
}
.second .main_title > p {
    margin: 0px;
    padding-left: 15px;
}
.second .main_title > hr {
    background: #353434;
}
.second .container {
    width: 1230px;
    height: 500px;
}
.second .container .line {
    width: 1230px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.second .container .line .items_con {
    display: flex;
    flex-direction: column;
    height: 270px;
}
.second .container .line .items_con > p {
    text-align: center;
    margin: 0px;
    font-size: 20px;
}

.second .container .items {
    flex: 0 0 calc(20% - 20px); /* 5개의 아이템을 한 줄에 표시 */
    background: rgba(182, 182, 182, 0.32);
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;   
}
.second .container .items > div {
    width: 195px;
    height: 195px;
}
.second .container .items .img_con {
    width: 195px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second .container .items > div > img {
    width: 120px;
    height: 120px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
}
.modal.show {
    display: block;
}
.modal .con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'PT Serif';
    color: #353434;
    width: 1200px;
    height: 850px;
    border-radius: 20px;
    background: #737373;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal .con .modal_close {
    cursor: pointer;
    float: right;
    padding-right: 10px;
    font-size: 25px;
}
.modal .con .modal_title {
    text-align: center;
    font-size: 50px;
}
.modal .con .modal_con {
    display: flex;
    justify-content: center;
}
.modal .con .modal_con p {
    width: 75px;
    margin: 0px;
    text-align: center;
    padding-right: 10px;
}
.modal .con .modal_con .modal_con_title {
    display: flex;
    margin-bottom: 80px;
}
.modal .con .modal_con .modal_con_title [type="text"] {
    width: 295px;
}
.modal .con .modal_con > div {
    width: 900px;
    height: 600px;
} 
.modal .con .modal_con .left_right {
    display: flex;
    justify-content: space-between;
}
.modal .con .modal_con .left_right .left {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal .con .modal_con .left_right .left .sec {
    display: flex;
}
.modal .con .modal_con .left_right .left .sec select {
    width: 300px;
}
.modal .con .modal_con .left_right .right {
    width: 400px;
    height: 300px;
    display: flex;
}
.modal .con .modal_con .left_right .right textarea {
    width: 300px;
    font-family: 'PT Serif';
    font-size: 15px;
}
.modal .con .modal_btn_con {
    display: flex;
    justify-content: center;
}
.modal .con .modal_btn_con .modal_submit {
    width: 87px;
    height: 42px;
    border-radius: 6px;
    background: #D9D9D9;
    font-size: 20px;
    cursor: pointer;
}

.items_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
}
.items_modal.show {
    display: block;
}
.items_modal .items_modal_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'PT Serif';
    color: #353434;
    width: 800px;
    height: 800px;
    border-radius: 20px;
    background: #737373;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.items_modal .items_modal_con .item_modal_title {
    text-align: center;
    font-size: 50px;
}
.items_modal .items_modal_con .item_modal_content {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 50px;
}
.items_modal .items_modal_con .item_modal_content > p {
    margin: 0px;
    width: 600px;
    height: 500px;
}
.items_modal .items_modal_con .modal_close {
    cursor: pointer;
    float: right;
    padding-right: 10px;
    font-size: 25px;
}
.items_modal .items_modal_con .item_modal_btn {
    display: flex;
    justify-content: center;
}
.items_modal .items_modal_con .item_modal_del {
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: #353434;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    background: #D9D9D9;
}