body {
    background-image: url('../imgs/b1.png');
    zoom: 0.8;
}

#check-btn { 
    display: none;
}
#check-btn:checked ~ .menubars { 
    display: block; 
} 
.menubars { 
    display: none;
    width: 300px;
    height: 112vh;
    border-radius: 0px 50px 50px 0px;
    background: #D0D0D0;
    list-style-type: none;
    margin-left: -10px;
}
.menubars .txt {
    color: #D0D0D0;
}
.menubars .blank {
    width: 250px;
    height: 1px;
    background-color: #D0D0D0;
    margin-top: 10px;
}
.menubars .line {
    width: 250px;
    height: 1px;
    background-color: #353434;
    margin-top: 10px;
}
.menubars > li {
    margin-top: 20px;
    margin-left: 15px;
}
.menubars > li > a{
    text-decoration: none;
    color:#353434;
    font-family: PT Serif;
    font-size: 25px;
}
.menubars .contact {
    color:#353434;
    font-family: PT Serif;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 380px;
}
.menubars .contact > P{
    margin-bottom: 0px;
}
.menubars .contact > span{
    font-size: 20px;
    margin-left: 50px;
}
.menu {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 35px;
}

.container {
    display: flex;
}
.first {
    width: 380px;
    height: 100vh;
    position: relative;
}
.first .title {
    font-size: 80px;
    font-family: 'Allura';
    text-decoration: none;
    color:#353434;
    position: absolute;
    top: 0;
    left: 100px;
}

.container .main {
    width: calc(100% - 380px);
    margin-top: 100px;
}
.navi {
    margin-top: 50px;
    font-family: 'PT Sans';
    font-size: 25px;
    float: right;
    margin-right: 60px;
}
.navi .nav_txt {
    text-decoration: none;
    color: #353434;
    margin-right: 40px;
}

.second {
    margin-top: 200px;
    font-family: 'PT Serif';
    color: #353434;
    width: 1210px;
    height: 800px;
}
.second > div {
    margin-left: 200px;
    width: 1210px;
}
.second .main_title {
    font-size: 35px;
    width: 1210px;
}
.second .main_title > p {
    margin: 0px;
    padding-left: 15px;
}
.second .main_title > hr {
    background: #353434;
}
.second .container {
    width: 1210px;
    height: 500px;
    display:inline;
}
.second .container .line1 {
    width: 1210px;
    height: 240px;
    display: flex;
}
.second .container .line2 {
    width: 1210px;
    height: 240px;
    display: flex;
}
.second .container .add {
    background: rgba(182, 182, 182, 0.32);
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;    
}
.second .container .add > img {
    width: 120px;
    height: 120px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
    display: block;
}
.modal .con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'PT Serif';

    width: 1200px;
    height: 850px;
    border-radius: 20px;
    background: #887D7D;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal .con .modal_close {
    cursor: pointer;
    float: right;
    padding-right: 10px;
    font-size: 25px;
}
.modal .con .modal_title {
    text-align: center;
    font-size: 50px;
}
.modal .con .modal_btn_con {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.modal .con .modal_btn_con .modal_submit {
    width: 87px;
    height: 42px;
    border-radius: 6px;
    background: #D9D9D9;
    font-size: 20px;
    cursor: pointer;
}