{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silhouette</title>

    <base href="/">
    
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=PT+Sans&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'imgs/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
</head>
<body>
    <div class="container">
        <div class="first">
            <div>
                <input id="check-btn" type="checkbox" />
                <label for="check-btn">
                    <img class="menu" id="menu-icon" src="{% static 'imgs/menu.svg' %}" alt="menu">
                </label>
                <ul class="menubars">
                    <li><a class="txt">Closet</a></li>
                    <div class="blank"></div>

                    {% if 'user' in request.session %}
                        <li><a href="{% url 'closet' %}">Closet</a></li>
                        <div class="line"></div>
                        <li><a href="{% url 'weather' %}">Weather</a></li>
                        <div class="line"></div>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <div class="line"></div>
                        <li><a href="{% url 'trend' %}">Trend</a></li>
                        <div class="line"></div>
                    {% else %}
                        <li><a href="{% url 'login' %}">Closet</a></li>
                        <div class="line"></div>
                        <li><a href="{% url 'login' %}">Weather</a></li>
                        <div class="line"></div>
                        <li><a href="{% url 'login' %}">Gallery</a></li>
                        <div class="line"></div>
                        <li><a href="{% url 'login' %}">Trend</a></li>
                        <div class="line"></div>
                    {% endif %}
                    <div class="contact">
                        <p>Contact Us</p>
                        <span>syj1634@naver.com</span>
                    </div>
                </ul>
            </div>
            <a class="title" href="/">Silhouette</a>
        </div>
        <div class="main">
            <nav class="navi">
                {% if 'user' in request.session %}
                    <a class="nav_txt" href="{% url 'logout' %}">Logout</a>
                    <a class="nav_txt" href="{% url 'mypage' %}">My Page</a> 
                {% else %}
                    <a class="nav_txt" href="{% url 'login' %}">Login</a>
                    <a class="nav_txt" href="{% url 'join' %}">Join</a>
                {% endif %}
            </nav>
            <div class="second">
                <div>
                    <div class="main_title">
                        <p>Gallery</p>
                        <hr />
                    </div>
                    <div class="container">
                        <div class="line1">
                            <div class="add" id="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                        </div>
                        <div class="line2">
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                            <div class="add">
                                <img src="{% static 'imgs/add.svg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="modal">
                <div class="con">
                    <div>
                        <p class="modal_close">X</p>
                    </div>
                    <p class="modal_title">Add Gallery</p> 
                    <form method="post"></form>
                        {% csrf_token %}
                        <div class="modal_con">
                            <div>
                                <div class="modal_con_title">
                                    <p>Title</p>
                                    <input type="text" name="title" placeholder=" 예시 : 8월 21일 ">
                                </div>
                                <div class="left_right">
                                    <div class="left">
                                        <div class="sec">
                                            <p class="label">Outer</p>
                                            <select id="outer" name="outer">
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                        <div class="sec">
                                            <p class="label">Top</p>
                                            <select id="top" name="top">
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                        <div class="sec">
                                            <p class="label">Pants</p>
                                            <select id="pants" name="pants">
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                        <div class="sec">
                                            <p class="label">Acc</p>
                                            <select id="acc" name="acc">
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                        <div class="sec">
                                            <p class="label">Shoes</p>
                                            <select id="shoes" name="shoes">
                                                <option value="None">None</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <p>Memo</p>
                                        <textarea name="memo" type="text" placeholder="오늘에 대한 일기를 적어보세요." ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal_btn_con">
                            <button class="modal_submit" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
</body>
</html>