{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silhouette</title>

    <base href="/">
    
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=PT+Sans&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'imgs/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <div class="first">
            <img class="menu" src="{% static 'imgs/menu.svg' %}" alt="menu" >
            <p class="title">Silhouette</p>
        </div>
    </header>
</body>
</html>