{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silhouette</title>

    <base href="/">
    
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=PT+Sans&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'imgs/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/join.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="first">
                <div>
                    <input id="check-btn" type="checkbox" />
                    <label for="check-btn">
                        <img class="menu" id="menu-icon" src="{% static 'imgs/menu.svg' %}" alt="menu">
                    </label>
                    <ul class="menubars">
                        <li><a class="txt">Closet</a></li>
                        <div class="blank"></div>

                        <li><a href="closet">Closet</a></li>
                        <div class="line"></div>
                        <li><a href="weather">Weather</a></li>
                        <div class="line"></div>
                        <li><a href="gallery">Gallery</a></li>
                        <div class="line"></div>
                        <li><a href="trend">Trend</a></li>
                        <div class="line"></div>
                        <div class="contact">
                            <p>Contact Us</p>
                            <span>syj1634@naver.com</span>
                        </div>
                    </ul>
                </div>
                <a class="title" href="/">Silhouette</a>
            </div>
            <div class="main">
                <nav class="navi">
                    <a class="nav_txt" href="{% url 'login' %}">Login</a>
                    <a class="nav_txt" href="{% url 'join' %}">Join</a>
                </nav>
                <div class="second">
                    {% block contents %}
                    <div>
                        <form id="joinForm" method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div>
                                <div class="center">
                                    <input id="name" name="name" class="txt" type="text" placeholder="Name"/>
                                </div>
                                <div class="center">
                                    <div class="form_line"></div>
                                </div>
                            </div>
                            <div>
                                <div class="center">
                                    <input id="email" name="email" class="txt" type="email" placeholder="E-mail"/>
                                </div>
                                <div class="center">
                                    <div class="form_line"></div>
                                </div>
                            </div>
                            <div>
                                <div class="center">
                                    <input id="pw" name="pw" class="txt" type="password" placeholder="Password"/>
                                </div>
                                <div class="center">
                                    <div class="form_line"></div>
                                </div>
                            </div>
                            <div>
                                <div class="center">
                                    <input id="pw-confirm" name="pw-confirm" class="txt" type="password" placeholder="Password Confirm"/>
                                </div>
                                <div class="center">
                                    <div class="form_line"></div>
                                </div>
                            </div>
                            <div>
                                <div class="center">
                                    <input class="btn" type="submit" value="Join" />
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endblock contents %}
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript" src="{% static 'js/join.js' %}"></script>
</body>
</html>